* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
hr {
    margin: 5px;
}

.section_title {
    display: grid;
    grid-template-columns: 40% 65%;
    width: 90%;
    margin:9vh auto;
}


.img_main{
    width: 100%;
    height: auto;
    margin-left: -2%;
    border-radius: 5%;
}


.title {
    font-weight: bold;
    font-size: 1.2em;
    margin: 10px 0;
    width: fit-content;
    margin: 9% auto;
}
.giathanh {
    font-style: oblique;
    margin-left: 5%;
    margin-top: 5%;
    color: rgb(255, 0, 0);
    font-size: 1.1em;
}
.text {
    margin-left: 5%;
}

/* Phần imgae */
.section_image {
    background-color:  rgba(128, 128, 128, 0.173);
    padding:30px 0;
}
.section_image ul{
    width: 80%;
     display: grid;
    grid-template-columns: auto auto; /* cột ôm ảnh */
    justify-content: center;          /* căn giữa cả grid */
    gap: 20px; 
    margin: 0 auto;
}

.image img{
    width: 100%;
}
/* Phần chi tiết gói */
.title_chitiet {
    font-size: 1.2rem;
    margin-bottom: 5px;
}
.section_chitiet{
    width: 85%;
    margin: 2% auto;
    /* background-color: rgba(255, 255, 255, 0.47); */
    padding: 20px;
    border-radius: 20px;
    box-shadow:  0 25px 50px -12px rgb(0,0,0,0.25);
}

.section_chitiet ul li {
        list-style-type: disc ;
}

/* Các gói khác */

.cacgoikhac {
    width: fit-content;
    margin: 20px auto;
    padding: 2%;
    /* background-color: aliceblue; */
    border-radius:10px;
    box-shadow: 0 1px 3px 0 rgb(0,0,0,0.1),
    0 1px 3px -1px rgb(0,0,0,0.1);
}
.cacgoikhac a {
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.title_logo {
    display: flex;
    justify-content: center;
    flex: 1;
}