   body {
      font-family: system-ui, sans-serif;
      background-color: rgba(128, 128, 128, 0.05);
    }

    .navbar-brand {
      font-weight: bold;
      letter-spacing: 2px;
    }

    .concept-section h2 {
      font-weight: bold;
      margin-bottom: 1rem;
    }

    .concept-section p {
      text-align: justify;
      color: #444;
    }

    .img-fluid {
      transition: transform 0.3s ease;
    }

    .img-fluid:hover {
      transform: scale(1.05);
    }

    footer {
      background-color: black;
      color: white;
      padding: 20px 0;
      text-align: center;
      font-size: 1rem;
    }

    .social-icons a {
      color: black;
      font-size: 1.5rem;
      margin: 0 10px;
      transition: transform 0.2s ease;
    }

    .social-icons a:hover {
      transform: scale(1.2);
      color: #555;
    }

     /* Carousel height control */
    .carousel-item img {
      height: 500px;
      object-fit: cover; }

      /* Chan dung */
      .fw-semibold {
        width: fit-content;
        margin: 0 auto;
      }
      /* chữ cho chân dung  */
      .fw-semibold {
        font-size: 1.6rem;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      }